<!--
  Used for visualising rplidar in action.

  It requires rplidar.launch.
 -->
<launch>
  <!-- Bring up robot and enable wheel odometer publishing "/odom"-->
  <include file="$(find gopigo3_node)/launch/gopigo3.launch" />

  <!-- Bring up rplidar and publish "/scan" -->
  <include file="$(find rplidar_ros)/launch/rplidar.launch" />

  <include file="$(find rplidar_slam)/launch/gmapping.launch" />
</launch>
